*{
    text-decoration: none; /*아래밑줄 제거*/
    color: black; /*글자색 검은색 고정*/
    list-style: none; /*리스트 앞에 찍히는 점없애기*/
    margin: 0px;
    padding:0px;
    font-family: 'Noto Sans KR', sans-serif;
}

.top_item{
    height: 48px;
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
    align-items: center;
}

.top_item>li{
    margin-left: 36px;
}


.header{
    display: flex;
    width: 1280px;
    margin: auto;
    /* background:red ; */
    height: 64px;
    position: sticky;
    top: 0px;
    left: 0px;
}

.main_logo{
    width: 200px;
    /* background-color: skyblue; */
    line-height: 64px;
    text-align: center;
}


.searchArea{
    /* background-color: aqua; */
    width:480px;
    height: 40px;
    margin-top: 12px;
}
.searchArea>form>input{
    border: 1.5px solid black;
    width: 350px;
    height: 40px;
    font-size: 15px;
    margin-left: 20px;
    padding-left: 10px;
}

.searchArea>form>span{
    /* background: chartreuse; */
    text-align: center;
    margin-left: 10px;
    cursor: pointer;
    color: #fff;
    
}

.nav{
    display: flex;
    width: calc(1280px - 200px - 480px);
    /* background-color: blueviolet; */
    line-height: 64px;
}

.nav > li{
    margin-left: 64px;
}

.main_top{
    background-image: url(../../img/title_bg.jpg);
    background-size: 100%;
    margin-top: 5%;
    width: 100%;
    height: 20%;
    
}

.main_top>p{
    margin-left: 15%;
}

.title{
    
    font-size: 3em;
    line-height: 1.5em;
    
}

.subtitle{
    font-size: 1em;
}


table {
    border-collapse: collapse;

}

caption {
    display: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.board_list_wrap{
    padding: 100px;
    
}

.board_list{
    width: 100%;
    border-top: 2px solid black;
}

.board_list tr{
    border-bottom: 1px solid #ccc;
}

.board_list th,
.board_list td {
    /* border: 1px solid #999; */
    padding: 10px;
    font-size: 14px;
}

.board_list .first{
    width: 10%;
}

.board_list .second{
    width: 55%;
}

.board_list .third{
    width: 15%;
}

.board_list .fourth{
    width: 10%;
}

.board_list .fifth{
    width: 10%;
}

.board_list td{
    text-align: center;
}

.board_list .tit{
    text-align: left;
    margin-left: 20px;
}

.board_list .tit :hover{
    text-decoration: underline;
}

.board_list_wrap .between{
    
    text-align: right;
    margin-right: 5%;
    margin-top: 3%;
}

.board_list_wrap .between a{
    text-align: center;
    display: inline-block;
    border: 1px solid black;
    border-radius: 8px;
    background-color: #ccc;
    width: 5%;
    height: 3%;
}


.board_list_wrap .paging{
    margin-top: 30px;
    font-size: 0;
    text-align: center;
}

.board_list_wrap .paging a {
    display: inline-block;
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 40px;
    font-size: 12px;
}

.board_list_wrap .paging a:first-child{
    margin-left: 0;
}

.board_list_wrap .paging a.bt{
    background-color: #eee;
    border:1px solid #eee;
}

.board_list_wrap .paging a.num{
    border:1px solid #000;
    font-weight: 600; 
}

/* .main_wrap{
    background-color: cadetblue;
    margin-top: 2%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.main_wrap>table{
    border: 1;
    border-color: blue;
    width: 80%;
    height: 70%;
}

.main_wrap>table>thead{
    background-color: burlywood;
} */


