*{
    text-decoration: none; /*아래밑줄 제거*/
    color: black; /*글자색 검은색 고정*/
    list-style: none; /*리스트 앞에 찍히는 점없애기*/
    margin: 0px;
    padding:0px;
    font-family: 'Noto Sans KR', sans-serif;
}

.main_top{
    background-image: url(../../img/rb_list_bg.jpg);
    background-size: 100%;
    margin-top: 5%;
    width: 100%;
    height: 20%;
    
}

.main_top>p{
    margin-left: 15%;
}

.title{
    font-size: 3em;
    line-height: 1.5em;
    
}

caption {
    display: none;
}

table {
    border-collapse: collapse;

}

.basket_list_wrap{
    padding: 10% 8% 5% 8%;
    
}

.basket_list{
    width: 100%;
    border-top: 2px solid black;
}

.basket_list thead tr{
    border-bottom: 1px solid #ccc;
}

.basket_list tbody tr{
    border-bottom: 1px solid #ccc;
}

.basket_list th,
.basket_list td {
    /* border: 1px solid #999; */
    padding: 10px;
    font-size: 14px;
}

.basket_list .first{
    /* background-color: blueviolet; */
    width: 15%;
}

.basket_list .third{
    /* background-color: burlywood; */
    width: 20%;
}

.basket_list .fourth{
    /* background-color: chartreuse; */
    width: 12%;
}

.basket_list .fifth{
    /* background-color: coral; */
    width:35%;
}

.basket_list .sixth{
    /* background-color: cyan; */
    width: 8%;
}


.basket_list td{
    text-align: center;
}

.date {
    text-align: center;
    font-size: 1.2rem;
}

.basket_list .tit{
    text-align: left;
    padding-left: 2%;
    font-size: 1.25rem;
}

.basket_list .price{
    font-size: 1.25rem;
}

.basket_list .tit :hover{
    text-decoration: underline;
}


.consumer div{
    text-align: left;
    padding-left: 8%;
    padding-top: 7px;
    font-size: 1.1rem;
}


.process{
    border: 1px solid black;
    padding: 5px;
    cursor: pointer;
}

.finish{
    color: white;
    padding: 5px;
    background-color: green;
}

.empty{
    height: 1px;
}

.idd{
    display: none;
}


