*{
    text-decoration: none; /*아래밑줄 제거*/
    color: black; /*글자색 검은색 고정*/
    list-style: none; /*리스트 앞에 찍히는 점없애기*/
    margin: 0px;
    padding:0px;
    font-family: 'Noto Sans KR', sans-serif;
}


.main_category_choice {
    /* background-color: bisque;    */
    margin: 5% 10%;
    font-size: 1.25rem;
}

.main_category_choice span {
    margin-left: 10px;
    color: crimson;
}

.main_wrap{
    /* background-color: aquamarine; */
    margin: 5% 10%;
    height: 70%;
    display: flex;
    border: 1px solid #ccc;
    padding: 1%;

}

.main_img{
    /* background-color: brown; */
    width: 40%;
    height: 80%;
}

.between{
    margin-top: 5%;
    margin-left: 10%;
}

.between input{
    clip:rect(0 0 0 0);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.between label{
    border: 1px solid black;
    border-radius: 8px;
    padding: 7px 14px;
    font-size: 1.25rem;
}

.between span{
    font-size: 1.25rem;
}

.main_content_wrap{
    /* background-color: blueviolet; */
    width: 60%;
    margin-left: 5%;
}

.name{
    /* background-color: cadetblue; */
    margin-top: 5%;
    padding: 4% 2%;
    border-bottom: 1px solid #ccc;
}

.name input{
    font-size: 1.25rem;
    width: 90%;
}

.name span{
    color: crimson;
    font-size: 1.25rem;
}

.price{
    /* background-color: chocolate; */
    padding: 4% 2%;
    border-bottom: 1px solid #ccc;
}

.price input{
    font-size: 1.25rem;
    width: 90%;
}

.price span{
    color: crimson;
    font-size: 1.25rem;
}



.tail {
    /* background-color: crimson; */
    padding : 5% 5% 10% 5%;
}

.tail_head{
    /* background-color: cyan; */
    font-size: 1.25rem;
    border-bottom: 1px solid black;
}

.tail_head span {
    color: crimson;
    font-size: 1.25rem;
}

.tail_content{
    /* background-color: darkgray; */
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tail_content textarea {
    font-size: 1.25rem;
    width: 80%;
}

.end {
    margin-top: 5%;
    float: right;
}

.end span {
    margin-right: 50px;
    border:1px solid black;
    padding: 7px 14px;
    border-radius: 5px;
    cursor: pointer;
}