*{
    text-decoration: none; /*아래밑줄 제거*/
    color: black; /*글자색 검은색 고정*/
    list-style: none; /*리스트 앞에 찍히는 점없애기*/
    margin: 0px;
    padding:0px;
    font-family: 'Noto Sans KR', sans-serif;
}

.top_item{
    height: 48px;
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
    align-items: center;
}

.top_item>li{
    margin-left: 36px;
}


.header{
    display: flex;
    width: 1280px;
    margin: auto;
    /* background:red ; */
    height: 64px;
    position: sticky;
    top: 0px;
    left: 0px;
}

.main_logo{
    width: 200px;
    /* background-color: skyblue; */
    line-height: 64px;
    text-align: center;
}


.searchArea{
    /* background-color: aqua; */
    width:480px;
    height: 40px;
    margin-top: 12px;
}
.searchArea>form>input{
    border: 1.5px solid black;
    width: 350px;
    height: 40px;
    font-size: 15px;
    margin-left: 20px;
    padding-left: 10px;
}

.searchArea>form>span{
    /* background: chartreuse; */
    text-align: center;
    margin-left: 10px;
    cursor: pointer;
    color: #fff;
    
}

.nav{
    display: flex;
    width: calc(1280px - 200px - 480px);
    /* background-color: blueviolet; */
    line-height: 64px;
}

.nav > li{
    margin-left: 64px;
}

.main_top{
    background-image: url(../../img/title_bg.jpg);
    background-size: 100%;
    margin-top: 5%;
    width: 100%;
    height: 20%;
    
}

.main_top>p{
    margin-left: 15%;
}

.title{
    
    font-size: 3em;
    line-height: 1.5em;
    
}

.subtitle{
    font-size: 1em;
}

.content_wrap {
    margin: 15%;
    border: 2px solid black;
    border-radius: 20px;
}

.content_header{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content_header span:first-child{
    margin-left: 30px;
}

.content_header span:last-child{
    margin-right: 30px;
}

.content_title{
    background-color: #F8F8F8;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 30px;
    font-size: 20px;
    font-weight: 600;
}

.content_body{
    font-size: 16px;
    padding: 80px 30px;
}

.content_body .img_area{
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.content_body .text_area{
    padding-top: 30px;
}

.content_tail {
    text-align: right;
    margin-bottom: 20px;
    margin-right: 20px;

}

.content_tail span {
    margin-right: 40px;
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}

