*{
    text-decoration: none; /*아래밑줄 제거*/
    color: black; /*글자색 검은색 고정*/
    list-style: none; /*리스트 앞에 찍히는 점없애기*/
    margin: 0px;
    padding:0px;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #f5f6f7;
}

.top {
    /* background: chartreuse; */
    margin-top: 80px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.middle{
    /* background: chocolate; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contents_wrap{
    width: 460;
    
}

.content_id{
    /* background-color: yellowgreen; */
}
.content_id>h3>input:last-child{
    float: right;
    width: 100px;
    height: 30px;
    cursor: pointer;
}

.content_id>span>input{
    margin-top: 8px;
    height: 48px;
    width: 100%;
    padding-left: 5px;
    cursor: pointer;
    background-color: white;
}


.content_pw{
    /* background-color: thistle; */
    margin-top: 20px;
}

.content_pw>span>input{
    margin-top: 8px;
    height: 48px;
    width: 100%;
    padding-left: 5px;
    cursor: pointer;
    background-color: white;
}


.content_pw_check{
    /* background-color: rgb(141, 70, 141); */
    margin-top: 20px;
}

.content_pw_check>span>input{
    margin-top: 8px;
    height: 48px;
    width: 100%;
    padding-left: 5px;
    cursor: pointer;
    background-color: white;
}

.content_user_name{
    /* background-color: rgb(184, 58, 184); */
    margin-top: 20px;
}

.content_user_name>span>input{
    margin-top: 8px;
    height: 48px;
    width: 100%;
    padding-left: 5px;
    cursor: pointer;
    background-color: white;
}

.content_user_email{
    /* background-color: rgb(45, 133, 50); */
    margin-top: 20px;
}

.content_user_email>span>input{
    margin-top: 8px;
    height: 48px;
    width: 100%;
    padding-left: 5px;
    cursor: pointer;
    background-color: white;
}

.content_user_phone{
    /* background-color: rgb(104, 190, 108); */
    margin-top: 20px;
}

.content_user_phone>span>input{
    margin-top: 8px;
    height: 48px;
    width: 100%;
    padding-left: 5px;
    cursor: pointer;
    background-color: white;
}

.content_user_address{
    /* background-color: rgb(15, 75, 18); */
    margin-top: 20px;
    padding-bottom: 10px;
}

/* 주소 첫번쨰 두번쨰 시각적 효과(:read-only) */
.content_user_address>span>input:first-child{
    background-color: rgb(200, 200, 200);
}
.content_user_address>span>input:nth-child(4){
    background-color: rgb(200, 200, 200);
}

/* 주소 넓이 맞추기 (첫번쨰, 두번째 제외)*/
.content_user_address>span>input:not(:first-child):not(:nth-child(2)){
    margin-top: 3px;
    width: 100%;
}

/* 주소 왼쪽 마진주기 (두번째 버튼 제외)*/
.content_user_address>span>input:not(:nth-child(2)){
    padding-left: 5px;
}

.content_user_address>span>input:nth-child(2){
    cursor: pointer;
}



.bottom{
    background-color: black;
    color: white;
    text-align: center;
}

.complete{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 20px;
}

.complete>input{
    width:400px;
    height: 60px;
    cursor: pointer;
    background-color:yellowgreen;
}

/* .error_next_box {
    margin-top: 9px;
    font-size: 12px;
    color: red;    
    display: none;
} */